[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twilio = "*"
beautifulsoup4 = "*"
requests = "*"
pylint = "*"
selenium = "*"
pypdf2 = "*"
openpyxl = "*"
numpy = "*"
django = "*"
pylint-django = "*"

[dev-packages]

[requires]
python_version = "3.11"
